/* bogle - latin */
@font-face {
    font-family: 'Bogle';
    font-style: normal;
    font-weight: normal;
    src: url('https://sde.walmart.com/assets/wmt/fonts/bogle-web-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('https://sde.walmart.com/assets/wmt/fonts/bogle-web-regular.woff') format('woff'), /* Modern Browsers */
         url('https://sde.walmart.com/assets/wmt/fonts/bogle-web-regular.ttf') format('truetype'); /* Safari, Android, iOS */
}
/* bogle regular italic - latin */
@font-face {
    font-family: 'Bogle';
    font-style: italic;
    font-weight: normal;
    src: url('https://sde.walmart.com/assets/wmt/fonts/bogle-web-regular-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('https://sde.walmart.com/assets/wmt/fonts/bogle-web-regular-italic.woff') format('woff'), /* Modern Browsers */
         url('https://sde.walmart.com/assets/wmt/fonts/bogle-web-regular-italic.ttf') format('truetype'); /* Safari, Android, iOS */
}
/* bogle bold - latin */
@font-face {
    font-family: 'Bogle';
    font-style: normal;
    font-weight: bold;
    src: url('https://sde.walmart.com/assets/wmt/fonts/bogle-web-bold.woff2') format('woff2'), /* Super Modern Browsers */
         url('https://sde.walmart.com/assets/wmt/fonts/bogle-web-bold.woff') format('woff'), /* Modern Browsers */
         url('https://sde.walmart.com/assets/wmt/fonts/bogle-web-bold.ttf') format('truetype'); /* Safari, Android, iOS */
}

/* open-sans-300 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: url('https://sde.walmart.com/assets/wmt/fonts/open-sans-300.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Light'), local('OpenSans-Light'),
    url('https://sde.walmart.com/assets/wmt/fonts/open-sans-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('https://sde.walmart.com/assets/wmt/fonts/open-sans-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('https://sde.walmart.com/assets/wmt/fonts/open-sans-300.woff') format('woff'), /* Modern Browsers */
    url('https://sde.walmart.com/assets/wmt/fonts/open-sans-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('https://sde.walmart.com/assets/wmt/fonts/open-sans-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('https://sde.walmart.com/assets/wmt/fonts/open-sans-regular.eot'); /* IE9 Compat Modes */
    src: local('Open Sans'), local('OpenSans'),
    url('https://sde.walmart.com/assets/wmt/fonts/open-sans-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('https://sde.walmart.com/assets/wmt/fonts/open-sans-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('https://sde.walmart.com/assets/wmt/fonts/open-sans-regular.woff') format('woff'), /* Modern Browsers */
    url('https://sde.walmart.com/assets/wmt/fonts/open-sans-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('https://sde.walmart.com/assets/wmt/fonts/open-sans-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-italic - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: url('https://sde.walmart.com/assets/wmt/fonts/open-sans-italic.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Italic'), local('OpenSans-Italic'),
    url('https://sde.walmart.com/assets/wmt/fonts/open-sans-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('https://sde.walmart.com/assets/wmt/fonts/open-sans-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('https://sde.walmart.com/assets/wmt/fonts/open-sans-italic.woff') format('woff'), /* Modern Browsers */
    url('https://sde.walmart.com/assets/wmt/fonts/open-sans-italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('https://sde.walmart.com/assets/wmt/fonts/open-sans-italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-700 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('https://sde.walmart.com/assets/wmt/fonts/open-sans-700.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
    url('https://sde.walmart.com/assets/wmt/fonts/open-sans-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('https://sde.walmart.com/assets/wmt/fonts/open-sans-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('https://sde.walmart.com/assets/wmt/fonts/open-sans-700.woff') format('woff'), /* Modern Browsers */
    url('https://sde.walmart.com/assets/wmt/fonts/open-sans-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('https://sde.walmart.com/assets/wmt/fonts/open-sans-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}

