.header img {
    float: right;
    width: 80px;
    height: 80px;
}

.header h1 {
    position: relative;
    top: 18px;
    left: 10px;
}

img.center {
    display: block;
    margin: 0 auto;
    height: 50px;
}

.tabulator .tabulator-header .tabulator-col {
    text-align:center;
}

#fileSelect{
    border: white;
}

select:active,
option:active,
select:focus,
option:focus,
select:hover,
option:hover
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
    background-color: white;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
     outline: 0;
}

select[disabled] > option{
    color: #474747;

}

#searchInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 95%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}


