:root {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Bogle', sans-serif;
  color: var(--wm-grey);
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: var(--wm-blue);
  cursor: pointer;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--wm-light-grey);
  margin: 1em 0;
  padding: 0;
}
